#sidebar {
    position: fixed;
    top: 120px;
    left: 0;

    width: 220px;

    background: white;
    border-right: 1px solid #ddd;
    padding: 20px;

    z-index:1000;
    height: fit-content;

    transform: translateX(-100%);
    transition: 0.3s ease;
}
