<header th:fragment="header">
    <div class="top-header">
        <div class="marquee">
                <span>
                    <i class="fa-regular fa-handshake"></i>
                    Chào mừng đến với cửa hàng SellLP - <i class="fa-solid fa-award"></i> Sản phẩm chính hãng -
                    <i class="fa-solid fa-truck-fast"></i> - Giao hàng nhanh chóng
                </span>
        </div>
    </div>

    <div class="main-header">

        <div class="logo">
            <h1><a href="/home">SellLP</a></h1>
        </div>

        <div class="category">
            <button id="categoryBtn">
                <i class="fa-solid fa-bars"></i> Danh mục
            </button>
        </div>

        <div class="search">
            <input type="text" placeholder="Bạn muốn mua gì hôm nay?">
            <button class="search-btn">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>

        <ul class="menu">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/products">Sản phẩm</a></li>
            <li><a href="/introduction">Giới thiệu</a></li>
            <li><a href="">Đơn hàng</a></li>
            <li>
                <div class="cart">
                    <a href="/cart">
                        <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
                    </a>
                </div>
            </li>
            <li th:if="${username == null}">
                <a href="/login">
                    <i class="fa-solid fa-user"></i> Đăng nhập
                </a>
            </li>
            <li class="user-menu" th:if="${username != null}">
                <a class="user-icon">
                    <i class="fa-solid fa-user"></i>
                </a>

                <div class="user-popup">
                    <p class="username">
                        <i class="fa-solid fa-user"></i>
                        Chào mừng:
                        <span th:text="${username}"></span>
                    </p>
                    <a class="profile" href="/profile">
                        <i class="fa-solid fa-circle-user"></i>
                        Thông tin cá nhân
                    </a>
                    <a class="password-change" href="/change-password">
                        <i class="fa-solid fa-key"></i>
                        Thay đổi mật khẩu
                    </a>
                    <a class="logout-btn" href="/logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div th:if="${success != null}" class="toast success"
         style="position:fixed; top:25px; right:20px; background:green; color:white; padding:15px;">
        <i class="fa-solid fa-check"></i>
        <span th:text="${success}"></span>
    </div>
</header>


